*
!text_tokenizer/
!text_tokenizer/**
!app.py
!app_l.py
!catboost_final.cbm
!catboost_light.cbm
!db_query.py
!db_query_l.py
!dockefile
!INCIDENTS.ipynb
!README.md
!requirements.txt
!ruroberta_tickets_mlm_50000/
!ruroberta_tickets_mlm_50000/**
!text_only_head.pt
!.gitignore
!image.png
!image2.jpg
!.dockerignore
!dockerfile
!.gitattributes